<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Tracker Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">

        <h1> Job Application Tracker</h1>

        <div class="nav">
            <a href="/dashboard">Dashboard</a>
            <a href="/stats/view">Stats</a>
        </div>


        <% if(typeof query !== "undefined" && query.success) { %>
             { %>
        
          <div class="success">Application added Successfully</div>
       <% } %>

       <!--      ----- Form for adding application-----              -->
        <div class="card">
            <h2>Add Application</h2>
            <form action="/applications" method="POST" class="form">
                <input name="role" placeholder="Developer e.g" required />
                <select name="userId" required>
                    <option value="">Select User</option>
                    <% users.forEach(u=> { %>
                        <option value="<%= u.id %>"><%= u.name %></option>
                        <% }) %>

                </select>



                <select name="companyId" required>
                    <option value="">Select Company </option>
                    <% companies.forEach(c=> { %>
                        <option value="<%= c.id %>"><%=c.name %></option>

                        <% }) %>
                </select>
                <button type="submit">Add New Application</button>
            </form>
        </div>

        <div class="card">
            <h2> Applications</h2>
            <table>
                <tr>
                    <th>User</th>
                    <th>Company</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th>View</th>

                </tr>
                <% applications.forEach(app => { 
                    const user=users.find(u =>u.id === app.userId);
                    const company=companies.find(c =>c.id === app.companyId);


                     %>


                    <tr>
                        <td>
                            <%= user ?user.name : "Unknown" %>
                        </td>
                        <td>
                            <%= company ? company.name : "Unknown" %>
                        </td>
                        <td>
                            <%= app.role %>
                        </td>
                        <td>
                            <span class="status <%= app.status %>">

                            <%= app.status %>
                            
                            </span>
                        </td>
                        <td>
                            <%= app.priority %>
                        </td>
<!----------------------Patch ---------------------------------->
<td>
    <form action="/applications/<%= app.id %>?_method=PATCH" method="POST" class="form">
       <select name="status">
          <option value="applied">Applied</option>
           <option value="interviewing">Interviewing</option>
            <option value="rejected">Rejected</option>
             <option value="offer">Offer</option>

          
       </select>
       <button class="update_btn">Update </button>
    </form>
</td>    

<!----Delete-->
<td>
    <form action="/applications/<%= app.id %>?_method=DELETE" method="POST" class="form">
        <button class="delete-btn">DELETE</button>
     </form>   
</td>

<!-----------------------View------------------------------------------>
<td>
                            <a href="/applications/<%= app.id %>/view">View</a>
                        </td>




                    </tr>
                    <% }) %>
            </table>
        </div>



    </div>
</body>

</html>