<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Tracker Dashboard</title>
    <link rel="stylesheet" href="./public/style.css">
</head>

<body>
    <div class="container">
        <h1> Job Application Tracker</h1>
        <div class="nav">
            <a href="/">Dashboard</a>
            <a href="/stats/view">Stats</a>
        </div>
        <div class="card">
            <h2>Add Application</h2>
            <form action="/applications" method="POST" class="form">
                <input name="role" placeholder="Developer e.g" required />
                <select name="" userId" required>
                    <option value="">Select User</option>
                    <% users.forEach(u=> { %>
                        <option value="<%= u.id %>">
                            <%+ u.name %>
                        </option>
                        <% }) %>

                </select>



                <select name="companyId" required>
                    <option value="">Select Company </option>
                    <% companies.forEach(c=> { %>
                        <option value="<%= c.id %>" <%=c.name %></option>

                        <% }) %>
                </select>
                <button type="submit">Add New Application</button>
            </form>
        </div>

        <div class="card">
            <h2> Applications</h2>
            <table>
                <tr>
                    <th>User</th>
                    <th>Company</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Notes</th>

                </tr>
                <% applications.forEach(app=>{
                    const user=users.find(u =>u.id===app.userId);
                    const company=companies.find(c =>c.id === app.companyId);


                    }); %>


                    <tr>
                        <td>
                            <%= user ?user.name : "Unknown" %>
                        </td>
                        <td>
                            <%= company ? company.name : "Unknown" %>
                        </td>
                        <td>
                            <%= app.role %>
                        </td>
                        <td>
                            <span class="status" <%=app.status %>">
                                <%= app.status %>
                            </span>
                        </td>
                        <td>
                            <%= app.priority %>
                        </td>

                        <td>
                            <a href="/applications/<%= app.id %>/view">View Application Details</a>
                        </td>




                    </tr>
                    <% }) %>
            </table>
        </div>



    </div>
</body>

</html>